global
  log /dev/log  local0
  log /dev/log  local1 notice
  stats socket /var/lib/haproxy/stats level admin
  chroot /var/lib/haproxy
  user haproxy
  group haproxy
  daemon

defaults
  log global
  mode  http
  option  httplog
  option  dontlognull
  timeout connect 5000
  timeout client  50000
  timeout server  50000
  errorfile 400 /etc/haproxy/errors/400.http
  errorfile 403 /etc/haproxy/errors/403.http
  errorfile 408 /etc/haproxy/errors/408.http
  errorfile 500 /etc/haproxy/errors/500.http
  errorfile 502 /etc/haproxy/errors/502.http
  errorfile 503 /etc/haproxy/errors/503.http
  errorfile 504 /etc/haproxy/errors/504.http

frontend proxy-front
    bind *:8118
        mode http
        default_backend privoxy-back

backend proxy-back
    mode http
    balance leastconn
    option forwardfor
    option httpchk
    ##
    ## This is running a health check against the Gluetun Container
    ##
    http-check connect port 6666
    http-check send meth GET uri /
    http-check expect status 200-399
    cookie SERVERID insert indirect
    server proxy01 192.168.20.10:8008  check  cookie proxy01
    server proxy02 192.168.30.10:8008  check  cookie proxy02
